@import './fonts.css';
@import './utilities.css';

body {
  margin: 0;
  font-family: 'Garet', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(15, 23, 42, 0.2) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  border: 3px solid transparent;
  background-clip: padding-box;
  background-color: rgba(15, 23, 42, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
  background-clip: padding-box;
  background-color: rgba(15, 23, 42, 0.35);
}

.dark * {
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.dark *::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.2);
}

.dark *::-webkit-scrollbar-thumb:hover {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.35);
}
